In [5]:
pip install numpy

Requirement already satisfied: numpy in c:\users\azazm\appdata\local\programs\python\python311\lib\site-packages (1.25.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\users\azazm\appdata\local\programs\python\python311\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\azazm\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\azazm\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\azazm\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\azazm\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in c:\users\azazm\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import pandas as pd

In [7]:
import numpy as np

#1

In [9]:
# este eu fiz 

lista_cinco_numericos = [1,2,3,4,5] # aqui eu fiz a lista/array
tupla = tuple(lista_cinco_numericos) # aqui eu transformei para uma tupla 
array_lista = np.array(tupla) # aqui usei a função np.array para transformar minha tupla em um array
media = np.mean(array_lista) # aqui eu usei o np.mean para calcular a media dos elementos da lista, ele somou todos os itens e dividiu pela sua quantidade e deu a resposta 


print(f'A media desse array é {media}')

A media desse array é 3.0

In [10]:
# essa eu peguei com o chat gpt que deu igual ao meu.

import numpy as np

# Crie uma lista de 5 elementos numéricos
lista_numeros = [10, 20, 30, 40, 50]

# Converta a lista em uma tupla
tupla_numeros = tuple(lista_numeros)

# Crie um array a partir da tupla usando NumPy
array_numeros = np.array(tupla_numeros)

# Calcule a média dos elementos do array
media = np.mean(array_numeros)

print(f"Lista: {lista_numeros}")
print(f"Tupla: {tupla_numeros}")
print(f"Array: {array_numeros}")
print(f"Média: {media:.2f}")

Lista: [10, 20, 30, 40, 50]
Tupla: (10, 20, 30, 40, 50)
Array: [10 20 30 40 50]
Média: 30.00

#2

In [9]:
# este aqui é um exemplo de lista em pandas 
lista_paises = { 
    'nomes': ['Brasil', 'Argentina', 'Eua', 'canada', 'Russia', 'Angola','Japão'] , #nunca esquecer de por a virgula aqui 
    'populacao': [2000, 3000, 1000, 5000, 12000, 20000, 50 ]} 
pandas = pd.DataFrame(lista_paises)
pandas

       nomes  populacao
0     Brasil       2000
1  Argentina       3000
2        Eua       1000
3     canada       5000
4     Russia      12000
5     Angola      20000
6      Japão         50

In [10]:
popula = pd.Series(pandas['nomes'].values, index=pandas['populacao'])
popula

populacao
2000        Brasil
3000     Argentina
1000           Eua
5000        canada
12000       Russia
20000       Angola
50           Japão
dtype: object

In [ ]:
# peguei este que o prof tinha feito em aula para usar como exemplo para fazer o meu de cima, 
# precisa transforar a lista panda em uma forma que possa ser feito o calculo da media, 
# pq la tem string com numero agora ele so vai pegar os valores de cada um.

vendas_series = pd.Series(df['vendas'].values, index=df['mes'])
vendas_series

In [11]:
# agora da para calcular a media 

media_populacao = popula.mean()
media_populacao

TypeError: Could not convert BrasilArgentinaEuacanadaRussiaAngolaJapão to numeric

In [ ]:
# não consegui fazer este 
# agora utilizei o chat gpt para tentar entender

In [12]:
import pandas as pd

# Lista de nomes de países
nomes_paises = ['Brasil', 'Estados Unidos', 'China', 'Índia', 'Japão']

# Lista de populações correspondentes (em milhões)
populacoes = [211, 331, 1441, 1380, 126]

# Criando as Pandas Series
series_nomes_paises = pd.Series(nomes_paises)
series_populacoes = pd.Series(populacoes, index=series_nomes_paises)

# Calculando a população média
populacao_media = series_populacoes.mean()

print("Nomes dos países:")
print(series_nomes_paises)
print("\nPopulações (em milhões):")
print(series_populacoes)
print(f"\nPopulação média: {populacao_media:.2f} milhões")

Nomes dos países:
0            Brasil
1    Estados Unidos
2             China
3             Índia
4             Japão
dtype: object

Populações (em milhões):
Brasil             211
Estados Unidos     331
China             1441
Índia             1380
Japão              126
dtype: int64

População média: 697.80 milhões

#3

In [16]:
# esta foi a minha solução para o exercicio 3

lista_inteiros = [1,2,3,4,5,6,7,8,9,10]
conversao_array = np.array(lista_inteiros)

minimo = conversao_array.min()
maximo = conversao_array.max()
mediano = conversao_array.mean()

print(f'o minimo é: {minimo}')
print(f'o maximo é: {maximo}')
print(f'a media é: {mediano}')

o minimo é: 1
o maximo é: 10
a media é: 5.5

In [17]:
# esta foi a solução do chat gpt
import numpy as np

# Crie uma lista de 10 números inteiros
lista_numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Converta a lista em um array NumPy
array_numeros = np.array(lista_numeros)

# Encontre o máximo, mínimo e média dos elementos do array
maximo = np.max(array_numeros)
minimo = np.min(array_numeros)
media = np.mean(array_numeros)

print(f"Máximo: {maximo}")
print(f"Mínimo: {minimo}")
print(f"Média: {media}")

Máximo: 10
Mínimo: 1
Média: 5.5

#4

In [19]:
# soluçaõ chat gpt para o 4 pois ja estava sem vontade de pensar mas amanhã foço de novo
import pandas as pd

# Duas listas de números
lista1 = [10, 20, 30, 40, 50]
lista2 = [15, 25, 35, 45, 55]

# Criando as Pandas Series
serie1 = pd.Series(lista1)
serie2 = pd.Series(lista2)

print("Pandas Series 1:")
print(serie1)
print("\nPandas Series 2:")
print(serie2)

# Concatenando as Series ao longo do eixo 0 (índice)
serie_concatenada = pd.concat([serie1, serie2])

print("\nPandas Series concatenada:")
print(serie_concatenada)

media_resultante = serie_concatenada.mean()

print(f"\nMédia dos elementos resultantes: {media_resultante:.2f}")

Pandas Series 1:
0    10
1    20
2    30
3    40
4    50
dtype: int64

Pandas Series 2:
0    15
1    25
2    35
3    45
4    55
dtype: int64

Pandas Series concatenada:
0    10
1    20
2    30
3    40
4    50
0    15
1    25
2    35
3    45
4    55
dtype: int64

Média dos elementos resultantes: 32.50

#5

In [20]:
import pandas as pd
import numpy as np

# Crie uma lista de números
lista_numeros = [10, 20, 30, 40, 50]

# Crie a Pandas Series a partir da lista
serie_numeros = pd.Series(lista_numeros)

print("Pandas Series criada:")
print(serie_numeros)

array_numeros = np.array(serie_numeros)
print("\nArray NumPy criado:")
print(array_numeros)

escalar = 2
array_resultante = array_numeros * escalar
print(f"\nArray resultante após multiplicação por {escalar}:")
print(array_resultante)

nova_serie = pd.Series(array_resultante)
print("\nNova Pandas Series criada:")
print(nova_serie)

Pandas Series criada:
0    10
1    20
2    30
3    40
4    50
dtype: int64

Array NumPy criado:
[10 20 30 40 50]

Array resultante após multiplicação por 2:
[ 20  40  60  80 100]

Nova Pandas Series criada:
0     20
1     40
2     60
3     80
4    100
dtype: int64